version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    groups:
      production-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "*.Tests"
          - "*.IntegrationTests"
      test-dependencies:
        patterns:
          - "*.Tests"
          - "*.IntegrationTests"
